html 
    head
        title Web
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        .footer-copyright.text-center.py-3.bg-dark.text-light © 2020 - Copyright:
            a(href=process.env.LINK_FACEBOOK)  Henry Thành
        .container.pt-5.pb-5
            block content
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
